.team-box{
    background: linear-gradient(180deg, rgba(77, 77, 77, 0.38) 0%, rgba(16, 16, 16, 0.12) 100%);
box-shadow: inset 0px 0px 44px rgba(0, 0, 0, 0.39);
backdrop-filter: blur(50px);
padding: 60px;
border-radius: 12px;
}
.swiper-slide{
/* width: 750px !important; */
}

.swiper-container{
  padding-top: 50px !important;
  overflow: unset !important;
  z-index: 2;
}

.colon{
    position: absolute;
    top: -45px;
} 

.swiper-button-prev, .swiper-container-rtl .swiper-button-next{
    left: 23% !important;
    right: auto;
    color: gray;
}

.swiper-button-next, .swiper-container-rtl .swiper-button-prev {
    right: 23% !important;
    left: auto;
    color: red;
}

.team-details p{
    font-family: 'Brinnan thin';
font-size: 18px;
font-weight: 400;
line-height: 31px;
letter-spacing: 0em;
text-align: left;
padding-bottom: 20px;

}
.avatar-flex{
    display: flex;
    gap: 1.25rem;
}
.user-name{
    font-family: 'Space Grotesk';
font-size: 35px;
font-weight: 700;
line-height: 35px;
letter-spacing: 0em;
text-align: left;

}

.desi{
    font-family: 'Brinnan thin';
    font-size: 14px;
    font-weight: 250;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: left;
    

}
.black-grad-left{
    position: absolute;
    width: 359px;
    height: 501px;
    left: 0px;
    z-index: 4;
    background: linear-gradient(90deg, #0a0908 28.96%, rgba(0, 0, 0, 0) 100%);
}

.black-grad-right{
    position: absolute;
    width: 366px;
    height: 451px;
    right: 0px;
    margin-top: 46px;
    z-index: 4;
    background: linear-gradient(90deg, #1414141d 30.96%, rgb(10 9 8) 52%);
}
.team-desktop{
    display: block;
}
@media (max-width:768px) {
    .swiper-button-prev, .swiper-container-rtl .swiper-button-next{
        left: 1% !important;
        right: auto;
    }
    
    .swiper-button-next, .swiper-container-rtl .swiper-button-prev {
        right: 1% !important;
        left: auto;
    }
    .swiper-slide{
        width: 100% !important;
        }
    .team-desktop{
        display: none;
    }
    .black-grad-left{
        display: none;
    }
    .black-grad-right{
        display: none;
    }
    .team-box{
        margin: 7%;
    }
    .user-name{
        font-size: 26px;
    }
}