.why-head h1 {
  margin-top: 30px;
  font-family: Space Grotesk;
  font-size: 75px;
  font-weight: 700;
  line-height: 76px;
  letter-spacing: 0em;
  text-align: center;
  margin-bottom: 10px;
}

.why-head p {
  margin-top: 30px;
  font-family: "Brinnan reg";
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0em;
  text-align: center;
}

.gradient-box {
  width: 100%;
  margin: auto;
  max-width: 100%;
  position: relative;
  padding: 2% 4em;
  box-sizing: border-box;
  color: #fff;
  background: linear-gradient(180deg, #0e0e0e 0%, #000000 100%);

  background-clip: padding-box;
  /* !importanté */
  border: solid 3px transparent;
  /* !importanté */
  border-radius: 1.8em;
}
.gradient-box:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  margin: -3px;
  /* !importanté */
  border-radius: inherit;
  /* !importanté */
  background: linear-gradient(180deg, #ff1616 0%, #6d0000 100%);
}
.ab-head {
  margin-bottom: 55px;
  margin-top: 30px;
}
.d-about{
  padding-right: 6em;
}
.ab-head h1 {
  font-family: "Space Grotesk", sans-serif;
  font-size: 50px;
  font-weight: 700;
  line-height: 51px;
  letter-spacing: 0em;
  text-align: center;
}

.auit-box {
  display: grid;
  grid-template-columns: repeat(2, 211px);
  gap: 2rem;
}

.a-box {
  display: flex;
  gap: 1.5rem;
}
.a-box img{
  width: auto;
    height: 85px;
}
.detail-box h1 {
  font-family: "Space Grotesk", sans-serif;
  font-size: 38px;
  font-weight: 700;
  line-height: 51px;
  letter-spacing: 0em;
  text-align: left;
}
.detail-box p {
  font-family: "Brinnan thin";
  font-size: 15px;
  font-weight: 300;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
  padding-top: 4px;
  padding-bottom: 10px;
}
.d-about p{
  font-family: 'Brinnan thin';
font-size: 17px;
font-weight: 300;
line-height: 27px;
letter-spacing: 0em;
text-align: left;
padding-bottom: 1rem;
}

.reach{
  font-family: 'Brinnan thin';
  text-decoration: underline;
  
  padding-top: 27px;
font-size: 20px;
font-style: italic;
font-weight: 700;
line-height: 25px;
letter-spacing: 0em;
text-align: left;

}
.grid-about{
  display: grid;
  grid-template-columns: repeat(2 ,auto);
  justify-content: center;
}
.content{
  position: absolute;
  top: 98px;
  left: 123px;
}
.boxes{
  position: relative;
  text-align: center;
  color: white;

}