.why-head h1{
    margin-top: 30px;
    font-family: Space Grotesk;
font-size: 75px;
font-weight: 700;
line-height: 76px;
letter-spacing: 0em;
text-align: center;
margin-bottom: 10px;


}

.why-head p{
    margin-top: 30px;
    font-family: 'Brinnan reg';
font-size: 20px;
font-weight: 400;
line-height: 32px;
letter-spacing: 0em;
text-align: center;

}

.gradient-box {
   
    width: 90%;
    margin: auto;
    max-width: 100%;
    position: relative;
    padding: 2% 4em;
    box-sizing: border-box;
    color: #FFF;
    background: linear-gradient(180deg, #0E0E0E 0%, #000000 100%);
    

    background-clip: padding-box;
    /* !importanté */
    border: solid 3px transparent;
    /* !importanté */
    border-radius: 1em;
  }
  .gradient-box:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    margin: -3px;
    /* !importanté */
    border-radius: inherit;
    /* !importanté */
    background: linear-gradient(180deg, #FF1616 0%, #6D0000 100%);





  }
  .ab-head{
    margin-bottom: 30px;
  }
  .ab-head h1{
    font-family: Space Grotesk;
    font-size: 50px;
    font-weight: 700;
    line-height: 51px;
    letter-spacing: 0em;
    text-align: center;
    
  }