.footer{
    /* position: absolute;
    bottom: 0; */
    width: 100%;
    border-top: 1px solid #000;
    display: grid;
    grid-template-columns: repeat(4, auto);

}



  .full-withradius {
	position: relative;
	background: #0a0908;

	/*The background extends to the outside edge of the padding. No background is drawn beneath the border.*/
	background-clip: padding-box;
    padding: 10px 20px;
	border: solid 2px transparent;
	border-radius: 10px;

	
}
.flex-btn{
    display: flex;
    align-items: center;
    gap: 1rem;
}
.full-withradius:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    margin: -2px; /* same as border width */
    border-radius: inherit; /* inherit container box's radius */
    background: linear-gradient(180deg, #FF1616 0%, #6D0000 100%);
}

.div-block-289 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-right: 50px;
    margin-left: 50px;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center
}

.div-block-290 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center
}

.text-block-113 {
    font-size: 13px;
    line-height: 25px;
    font-weight: 700;
    letter-spacing: .1px
}

.text-block-114 {
    opacity: .8;
    font-size: 13px;
    letter-spacing: .16px;
    font-weight: 500;
    padding: 0px 0px 0px 112px;
}

.text-span-52 {
    color: #000;
    font-weight: 700;
}

.html-embed-13 {
    display: none;
}



.link-9 {
    padding-right: 6px;
    padding-left: 5px;
    border-right: 1.5px solid #ffffff;
    color: rgb(255 255 255);
    line-height: 14px;
    font-weight: 500;
    font-size: 13px;
    text-decoration: none;
}

.link-9:hover {
    color: #a9a5a4
}

.link-9._3 {
    border-right-style: none
}

.body-14 {
    font-family: 'Mark Pro',sans-serif;
    color: #131415;
    font-weight: 500
}

.div-block-314 {
    position: relative;
    height: 100px;
    background-image: linear-gradient(159deg,#3076f8,#0c61ff)
}

.div-block-314.wp {
    background-color: #3076f8;
    background-image: none
}
.border-top-grad{
    background: linear-gradient(270deg, #FF1616 0%, #6D0000 100%);
transform: matrix(-1, 0, 0, 1, 0, 0);
height: 8px;
}
@media screen and (max-width: 479px){
    /* footer{
        position: absolute;
        bottom: auto !important;
        width: 100%;
        border-top: 1px solid;
    
    } */
.div-block-289 {
    margin-right: 20px;
    margin-left: 20px;
}
.text-block-114 {
    text-align: center;
    padding: 0px 0px 0px 0px;
}
.text-block-113 {
    font-size: 12px;
}

.div-block-291 {
    width: 120px;
    height: 20px;
}.div-block-342 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    text-align: center;
}

.link-9 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 10px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    font-size: 12px;
}
.link-9._3 {
    border-right-style: none;
}
}

@media screen and (max-width: 767px){
.div-block-289 {
    margin-left: 40px;
    padding-top: 30px;
}}
@media screen and (max-width: 991px){
.div-block-289 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}
.div-block-290, .text-block-114 {
    margin-bottom: 10px;
}
.div-block-290, .text-block-114 {
    margin-bottom: 10px;
}
}

.active{
    border-bottom: 2px solid red;
    color: #ffffff;
   cursor: pointer;
}
a{
    color: #ffffff;
}